/*-------------------------------------------------
    [ ## Buttons ]
*/
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
	&:hover {
		color: $white;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.btn {
    -webkit-transition: all 0.3s ease 0.02s;
    transition: all 0.3s ease 0.02s;
}
.btn:active,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.btn {
    border: 0px solid;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}
.btn-rounded{
    border-radius: 3px;
}
.btn-capsule{
    border-radius: 100px;
}
/*-------------------------------------------------
    [ ## custom btn ]
*/
.btn--primary{
    background-color: #7367f0;
}
.btn--secondary {
    background-color: #868e96;
}
.btn--success {
    background-color: #28c76f;
}
.btn--danger {
    background-color: #ea5455;
}
.btn--warning {
    background-color: #ff9f43;
}
.btn--info {
    background-color: #1e9ff2;
}
.btn--dark {
    background-color: #10163A;
}
.badge--primary{
    background-color: #7367f0;
}
.badge--secondary {
    background-color: #868e96;
}
.badge--success {
    background-color: #28c76f;
}
.badge--danger {
    background-color: rgba(234, 84, 85,0.2);
    color: #ea5455 !important;
}
.badge--warning {
    background-color: rgba(255, 159, 67,0.2);
    color: #ff9f43 !important;
}
.badge--info {
    background-color: #1e9ff2;
}
.badge--dark {
    background-color: #10163A;
}
.badge--base {
    background-color: rgba($bg--base,0.2);
    color: $text--base !important;
}
.border--primary{
    border: 1px solid #7367f0;
}
.border--secondary {
    border: 1px solid #868e96;
}
.border--success {
    border: 1px solid #28c76f;
}
.border--danger {
    border: 1px solid #ea5455;
}
.border--warning {
    border: 1px solid #ff9f43;
}
.border--info {
    border: 1px solid #1e9ff2;
}
.border--dark {
    border: 1px solid #10163A;
}
.badge{
    font-weight: 600;
    font-size: 12px;
}
.btn--base {
    position: relative;
    background-color: $bg--base;
    border: 1px solid transparent;
    color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: $font_heading;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        border-radius: 10px;
        z-index: -1;
        transition: all 0.5s;
    }
    &.active{
        background-color: transparent;
        border: 1px solid $border--base;
        color: $white;
        display: block;
        &::before{
            background-color: $bg--base;
        }
        &:focus,
        &:hover {
            color: $white;
            box-shadow: none;
            border: 1px solid $bg--base;
        }
    }
    &:focus,
    &:hover {
        color: $white;
        box-shadow: 0 5px 15px $bg--base;
        &::before{
            width: 100%;
            right: auto;
            left: 0;
        }
    }
    @media only screen and (max-width: 575px) {
        padding: 6px 20px;
        font-size: 14px;
    }
    &.bg--danger{
        &:focus,
        &:hover {
            box-shadow: 0 5px 15px #ea5455;
        }
    }
}
.custom-btn{
    color: $text--base !important;
    font-family: $font_heading;
    font-weight: 500;
    font-size: 16px;
    @media only screen and (max-width: 575px) {
        font-size: 14px;
    }
}