/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.footer-section {
  background: $white;
  position: relative;

  .single-cta i {
    color: $base--color;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: $color--text;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: $color--text;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: $color--text;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: $white;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg {
    background: #3b5998;
  }
  .twitter-bg {
    background: #55acee;
  }
  .instagram-bg {
    background: #f70068;
  }
  .linkedin-bg {
    background: #0077b5;
  }
  .footer-widget-heading h3 {
    color: $color--text;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: $base--color;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover {
    color: $base--color;
  }
  .footer-widget ul li a {
    color: $color--text;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: $white;
    border: 1px solid $color--text;
    color: $color--heading;
    border-radius: 999px;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: $base--color;
    padding: 13px 20px;
    border: 1px solid $base--color;
    top: 0;
    border-radius: 0 999px 999px 0;
  }
  .subscribe-form button i {
    color: $white;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area {
    background: $base--color;
    padding: 15px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: $white;
  }
  .copyright-text p a {
    color: $white;
    font-weight: 600;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a {
    color: $white;
  }
  .footer-menu li a {
    font-size: 14px;
    color: $color--text;
  }
}
